#header{
	position: fixed;
	top:0px;
  left: 0px;
	width: 100%;
	min-width: 700px;
	padding: 5px 0 5px 10px;
	background-color: #D0C0C0;
	border-bottom: 2px #b0c4de dotted; /* 本文エリア下境界線 */
}

table{
  font-size: 14px;
  margin-top: 30px;
}

form{
	display: inline;
}
					
span.home{
}
#main_contents{
	margin-top: 50px;
	margin-bottom: 50px;

}
td.scenario_writer{
 }

tr.list-label{
	background-color: #ffffe0;
	font-weight: bold;
	text-align: center;
}

td.fake{
	width: 40px;
	font-weight: bold;
	text-align: center;
}

td.writer_top{
}

tr.title{
	background-color: #C0C0C0;
	font-weight: bold;

}

tr.back_blue{
	background-color: #F0F8FF;
}

td.scenario_top{
	width: 500px;

}

td.writer{
	font-weight: bold;

}

td.retio{
	font-weight: bold;
	text-align: center;
}

td.sum{
	text-align: center;
	width: 20px;

}

.focus{

}

td{
  padding:2px;
}
