#header{
	position: fixed;
	top:0px;
  left: 0px;
	width: 100%;
	min-width: 700px;
	padding: 5px 0 5px 10px;
	background-color: #D0C0C0;
	border-bottom: 2px #b0c4de dotted; /* 本文エリア下境界線 */
}

#main-contents{
  margin-right: auto;
  margin-left : auto;
  padding:10px;
  margin-top:40px;
}

table{
  font-size: 14px;
}

form{
	display: inline;
}
					
span.home{
}
#main_contents{
	margin-top: 50px;
	margin-bottom: 50px;

}


.inline {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

form {
	margin-bottom: 0px;
	padding-left: 10px;
}

.col-form-label{
	padding-right: 0px;
}